<div class="grid">
  <div class="col-6 col-offset-3">
    <p-card class="text-center">
      <p-image src="/dearstarslogo.png"/>
      <p></p>
      <p class="m-0">Starmins in Thailand came together to write well wishes for Holostars before the end of the year.</p>
      <p>Special thanks to &commat;Water_MizOri, &commat;HoloFansTh and fans</p>
      <p>This is a fan project and not affiliated with any talents or COVER Corp.</p>
    </p-card>
  </div>
</div>
<div class="grid">
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars01.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars02.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars03.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars04.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars05.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars06.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars07.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars08.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars09.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars10.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars11.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars12.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars13.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars14.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars15.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars16.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars17.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="/dearstars18.png" [preview]="true" />
    </p-card>
  </div>
</div>
<router-outlet />