<div class="grid">
  <div class="col-6 col-offset-3">
    <p-card class="text-center">
      <p-image src="img/dearstarslogo.png"/>
      <p></p>
      <p class="m-0">Starmins in Thailand came together to write well wishes for Holostars before the end of the year.</p>
      <p>Special thanks to &commat;Water_MizOri, &commat;HoloFansTh and fans</p>
      <p>This is a fan project and not affiliated with any talents or COVER Corp.</p>
    </p-card>
  </div>
</div>
<div class="grid">
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars01.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars02.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars03.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars04.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars05.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars06.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars07.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars08.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars09.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars10.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars11.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars12.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars13.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars14.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars15.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars16.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars17.png" [preview]="true" />
    </p-card>
  </div>
  <div class="col-12 lg:col-4 md:col-6">
    <p-card>
      <p-image alt="Card" src="img/dearstars18.png" [preview]="true" />
    </p-card>
  </div>
</div>
<router-outlet />